<h1 class="animated fadeIn fast">Sobre nosotros</h1>
<hr>
<p class="animated fadeIn">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem atque suscipit quo nulla laudantium velit officiis excepturi voluptatem inventore accusantium sapiente quos veniam, quas ratione perferendis incidunt corporis, quae doloremque!
</p>
<img class="img-large" src="http://www.grandespensa.com/assets/images/top-b.png">
<span class="logos-line1">
  <img class="img-short" src="http://www.grandespensa.com/assets/images/monje1.png">
  <img class="img-logo-gd" src="http://www.grandespensa.com/assets/images/logo.png">
  <img class="img-short" src="http://www.grandespensa.com/assets/images/monje2.png">
</span>
  <br>
<img class="img-logo-pax" src="http://bopiweb.com/imagenes/4134/tomo.1.M-3613369-8.jpg">
