<h1 class="animated fadeIn fast">Sobre nosotros</h1>
<hr>
<p class="animated fadeIn">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem atque suscipit quo nulla laudantium velit officiis excepturi voluptatem inventore accusantium sapiente quos veniam, quas ratione perferendis incidunt corporis, quae doloremque!
</p>
<img class="img-large" src="http://www.grandespensa.com/assets/images/top-b.png">
<img class="img-short" src="http://www.grandespensa.com/assets/images/logo.png">
<img class="img-short" src="http://bopiweb.com/imagenes/4134/tomo.1.M-3613369-8.jpg">
<img class="img-short" src="http://www.grandespensa.com/assets/images/monje1.png">
<img class="img-short" src="http://www.grandespensa.com/assets/images/monje2.png">


<section class="footer">
    <div class="container">
        <div class="row">
        	<div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>Secciones</h4>
                	<ul>
                    <li><a href="nosotros">Gran Despensa</a></li>
                    <li><a href="productos">Productos Artesanos</a></li>
                    <li><a href="condiciones#pago">Condiciones de pago</a></li>
                    <li><a href="condiciones#envio">Condiciones de envío</a></li>
                    <li><a href="condiciones#devoluciones">Devoluciones</a></li>
                  </ul>
                    <br>
                  <p class="pull-left"> Copyright © TV Web Design 2017. All right reserved. </p>
              </div>
          </div>
          <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>Productos</h4>
                	<ul>
                      <li><a href="licores">Licores</a></li>
                      <li><a href="quesos">Quesos</a></li>
                      <li><a href="mieles">Mieles</a></li>
                      <li><a href="chocolates">Chocolates</a></li>
                      <li><a href="dulces">Dulces</a></li>
                    </ul>
              </div>
          </div>
          <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>Contacta</h4>
                  <ul>
                     <li><a href="clientes">AREA DE CLIENTE</a></li>
                     <li><a href="clientes/datos">MIS DATOS</a></li>
                     <li><a href="clientes/pedidos">MIS PEDIDOS</a></li>
                     <li><a href="clientes/direcciones">MIS DIRECCIONES</a></li>
                  </ul>

                  <ul class="social">
                      <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                      <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                      <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                      <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                      <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                  </ul>

                  <a href="mailto:info@grandespensa.com">info@grandespensa.com</a>

                  <a href="tel:+34687987324">+34 982 123 456 789</a>

                </div>
            </div>
        </div>
    </div>
</section>
