
body{
  background-color: #ffcf7d;
  font-family: 'Germania One', cursive;
  padding-bottom: 50px;
}

.navbar{
  background-color: #c64c4c;
}

.main-container{
  margin-top: 20px;
}

.img-logo1{
  width: 200px;
}

.img-logo2{
  padding-top: 80px;
  width: 300px;
}

.search-button{
}

.login-button{
  background-color: green;
  margin-left: 10px;
}

.signup-button{
  background-color: darkred;
  margin-left: 10px;
}

/* ANIMACIONES */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
