<div class="container">
    <img src="assets/images/logo.png" alt="" class="logo-bt">
    <div class="row footer-top">
        <div class="col-sm-3">
            <a href="nosotros.html">Gran Despensa</a>
            <a href="productos.html">Productos Artesanos</a>
            <a href="condiciones.html#pago">Condiciones de pago</a>
            <a href="condiciones.html#envio">Condiciones de envío</a>
            <a href="condiciones.html#devoluciones">Devoluciones</a>
            <a href="contacto.html">Contacto</a>
        </div>
        <div class="col-sm-3">
            <a href="licores.html">Licores</a>
            <a href="quesos.html">Quesos</a>
            <a href="chocolates.html">Chocolates</a>
            <a href="dulces.html">Dulces</a>
        </div>
        <div class="col-sm-3">
            <br class="hidden-xs"/>
            <br class="hidden-xs"/>
            <a href="login.html">AREA DE CLIENTE</a>
            <a href="login.html">MIS DATOS</a>
            <a href="login.html">MIS PEDIDOS</a>
            <a href="login.html">MIS DIRECCIONES</a>
        </div>
        <div class="col-sm-3">
            <br/>
            <div class="logo-xunta">
                <span style="font-size:0.8em;"><em>PROXECTO COFINANCIADO POR:</em></span><br/>
                <img src="assets/images/xunta_bn.png" alt="">
            </div>
            <br/>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-sm-3">
            <a href="mailto:info@grandespensa.com">info@grandespensa.com</a>
        </div>
        <div class="col-sm-3">
            <a href="tel:+34687987324">(+34) 687.987.324</a>
        </div>
        <div class="col-sm-3">
            <a href="https://www.facebook.com/despensasamos/" target="_blank"> <i class="ion-social-facebook"></i> </a>
            <a href="https://twitter.com/grdespensasamos" target="_blank"> <i class="ion-social-twitter"></i> </a>
            <a href="https://www.pinterest.com/grandespensarea/" target="_blank"> <i class="ion-social-pinterest"></i> </a>
            <a href="https://www.instagram.com/grandespensa/" target="_blank"> <i class="ion-social-instagram"></i> </a>
            <a href="https://plus.google.com/u/1/112914702012504780530" target="_blank"> <i class="ion-social-googleplus"></i> </a>
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
</div>
