<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/img/grandespensa-logo.png" width="30" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- active -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">INICIO</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['products']">PRODUCTOS ARTESANOS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">QUIENES SOMOS</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar producto" (keyup.enter)="searchProduct(searchText.value)" #searchText>
      <button (click)="searchProduct(searchText.value)"
       class="btn btn-outline-primary my-2 my-sm-0 buscar-botton" type="botton">Buscar</button>
         <button (click)="login()"
          class="btn btn-outline-primary my-2 my-sm-0" type="botton">Login</button>
          <button (click)="signup()"
           class="btn btn-outline-primary my-2 my-sm-0" type="botton">Signup</button>
       </form>


  </div>
</nav>
