.btn-añadir-cesta{
  font-family: 'Germania One', cursive;
  font-size: 25px;
  margin-top: 23px;
}

.btn-seguir-comprando{
  font-size: 25px;
  margin-top: 23px;
  margin-left: 25px;
}

.btn-block{
  font-size: 25px;
}

.pvp{
  float: right;
  font-size: 40px;
  margin-left: 25px;
  margin-top: 5px;
}

.img-logo-gd{
  width: 200px;
}

.img-logo-licores{
  width: 350px;
}

.img-logo-quesos{
  padding-top: 35px;
  width: 350px;
}

.img-logo-dulces{
  width: 300px;
}
