<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 signup right">
    <h1 class="intro-message">Por favor, identifíquese o regístrese</h1>
        <form *ngIf="!user">
      <div class="form-group">
      	<label for="username" class="cols-sm-2 control-label">Usuario</label>
      		<div class="cols-sm-10">
      			<div class="input-group">
  						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  						<input type="text" [(ngModel)]="formInfo.username" class="form-control" name="username" id="name"  placeholder="Introduzca usuario"/>
						</div>
			  	</div>
        </div>
        <div class="form-group">
    <label for="password" class="cols-sm-2 control-label">Contraseña</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" [(ngModel)]="formInfo.password" class="form-control" name="password" id="password"  placeholder="Introduzca contraseña"/>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button (click)="login()" class="btn btn-default text-center btn-log-sig"> Login </button>
      <button (click)="signup()" class="btn btn-default text-center btn-log-sig"> Signup </button>
      </div>
    </form>
</div>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>
  <button (click)="logout()"> Logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>

<p class="error"> {{ error }} </p>

<div class='container'>
  <router-outlet></router-outlet>
</div>
