p{
  font-size: 50px;
}

.form-control, .btn-log-sig{
  font-family: 'Germania One', cursive;
}


.intro-message2{
  font-size: 35px;
}

.center{
  display: block;
  margin: auto;
  text-align: center;
}
