
<h1><span class="fire">P</span><span class="burn">r</span><span class="burn">o</span><span class="burn">d</span><span class="burn">u</span><span class="burn">c</span><span class="burn">t</span><span class="burn">o</span><span class="fire">s</span>
<span class="fire">A</span><span class="burn">r</span><span class="burn">t</span><span class="burn">e</span><span class="burn">s</span><span class="burn">a</span><span class="burn">n</span><span class="burn">o</span><span class="fire">s</span></h1>


<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let product of products;">
   <img class="card-img-top img-fluid" [src]="product.img" [alt]="product.name">
   <div class="card-block">
     <h4 class="card-title">{{ product.name }}</h4>
     <p class="card-text">{{ product.description }}</p>
     <p class="card-text">{{ product.price }}</p>

        <button (click)="seeProduct(product._id)"
          type="button" class="btn btn-outline-primary btn-block">
          Ver más...
       </button>

    <!--   <a [routerLink] ="['/product',i]" class="btn btn-outline-primary">Ver más link...</a> -->
   </div>
 </div>

</div>
